@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a gAAAmedev</h1>
    <p>Sigamos aprendiendo y dando a conocer todo nuestro potencial.</p>
</div>
